In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_rating = pd.read_pickle('players_rating_clean.zip')
df_players = pd.read_csv('titled_players.csv', index_col=0)

In [3]:
df_rating.groupby('id').max()

,date,classique_elo,classique_parties,rapide_elo,rapide_parties,blitz_elo,blitz_parties
id,,,,,,,
100013,2021-09-01,2557.0,41.0,2470.0,17.0,2448.0,13.0
100021,2021-09-01,2503.0,22.0,NaN,NaN,NaN,NaN
100072,2021-09-01,2518.0,36.0,2422.0,9.0,2419.0,9.0
100080,2021-09-01,2425.0,0.0,NaN,NaN,NaN,NaN
100102,2021-09-01,2340.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
61400220,2021-09-01,1680.0,10.0,NaN,NaN,NaN,NaN
73612251,2021-09-01,1804.0,22.0,1587.0,16.0,1767.0,11.0
146242580,2021-09-01,2252.0,15.0,2192.0,2.0,NaN,NaN
311214550,2021-09-01,1881.0,9.0,NaN,NaN,NaN,NaN
371281868,2021-09-01,2274.0,20.0,2134.0,21.0,2252.0,39.0

In [4]:
df_rating.groupby('id').mean()

,classique_elo,classique_parties,rapide_elo,rapide_parties,blitz_elo,blitz_parties
id,,,,,,
100013,2465.524096,7.957831,2421.700000,1.466667,2390.621622,0.297297
100021,2435.174699,0.277108,NaN,NaN,NaN,NaN
100072,2456.843373,4.493976,2420.500000,4.500000,2398.000000,4.500000
100080,2425.000000,0.000000,NaN,NaN,NaN,NaN
100102,2340.000000,0.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
61400220,1621.881579,0.934211,NaN,NaN,NaN,NaN
73612251,1526.635135,5.729730,1367.324324,1.932432,1669.146341,1.317073
146242580,2199.857143,0.746032,2178.636364,0.090909,NaN,NaN
311214550,1864.351351,0.229730,NaN,NaN,NaN,NaN
371281868,2001.808824,5.220588,1911.930556,3.569444,2084.714286,3.971429

In [5]:
df_merged = df_players.merge(df_rating.groupby('id').mean(), how='left', on='id')

In [6]:
df_merged.head()

,id,nom,titre,woman_titre,pays,classique,rapide,blitz,naissance,sexe,actif,titre_dates,Woman Candidate Master (WCM),Candidate Master (CM),Woman FIDE Master (WFM),FIDE Master (FM),Woman International Master (WIM),International Master (IM),Woman Grandmaster (WGM),Grandmaster (GM),classique_elo,classique_parties,rapide_elo,rapide_parties,blitz_elo,blitz_parties
0,5813298,"Lim, Kok Ann",CM,NaN,SGP,NaN,NaN,NaN,1920.0,M,1,"['Candidate Master (CM)', '2012']",NaN,2012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4611870,"Keller-Hermann, Edith",WGM,WGM,GER,2290.0,NaN,NaN,1921.0,F,0,"['Woman Grandmaster (WGM)', '1978', 'Woman Int...",NaN,NaN,NaN,NaN,1950.0,NaN,1978.0,NaN,2290.000000,0.000000,NaN,NaN,NaN,NaN
2,2002310,"Levy, Louis",FM,NaN,USA,2275.0,NaN,NaN,1921.0,M,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2275.000000,0.000000,NaN,NaN,NaN,NaN
3,14100657,"Ousatchi, Mark",FM,NaN,GER,2157.0,NaN,NaN,1921.0,M,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2162.843373,1.445783,NaN,NaN,NaN,NaN
4,4101529,"Averbakh, Yuri L",GM,NaN,RUS,2445.0,NaN,NaN,1922.0,M,0,"['Grandmaster (GM)', '1952', 'International Ma...",NaN,NaN,NaN,NaN,NaN,1951.0,NaN,1952.0,2445.000000,0.000000,NaN,NaN,NaN,NaN

Voyons voir la différence entre le classement elo actuel est le classement moyen (depuis 2000)